#about {
  margin: 0 auto;
  max-width: 80rem;
  padding: 2rem 0;
}

.about__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.about {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 60rem;
  min-width: 20rem;
}

.resume {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  width: 25rem;
}

.resume__description {
  position: absolute;
  text-align: justify;
  top: 30%;
}

.avatar__image {
  border: 2.5px solid var(--color2);
  border-radius: 50%;
  box-sizing: border-box;
  max-width: 250px;
}

.avatar__description {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0 0;
}