*{
    margin: 0;
    padding: 0;
}
:root{
    --color0: #202020;
    --color1: #3C080A;
    --color2: #C2A83E;
    --color3: #CBF7ED;
}
body{
    background-color: var(--color0);
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 100px;
    height: 50px;
}

header{
    width: 100%;
    position: fixed;
    z-index: 999;
}
header,
footer {
    background-color: var(--color1);
    color: var(--color3);
}

main{
    color: var(--color2);
}

#home{
    height: 100vh;
    background: url('../images/background.jpg') no-repeat center fixed;
    background-size: cover;
}

#about, #skills, #projects, #contact {
    height: 22rem;
}

#about p{
    margin-bottom: 10px;
    text-align: justify;
}

.avatar{
    border-radius: 50%;
    width: 250px;
    height: 256px;
}

aside{
    text-align: left;
}

footer {
    margin-top: 20px;
    text-align: center;
}
