@import '../../styles/components/header';

.header {
    align-items: center;
    background-color: $color-one;
    color: $color-two;
    font-size: 0.9rem;
    height: 2.5rem;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
  
    .header__title {
      color: $color-three;
      display: none;
      margin-left: 1rem;
      text-align: center;
    }
  }
  
  .header__menu {
    width: 80%;
  
    .list {
      display: flex;
      justify-content: space-around;
  
      .list__item {
        display: inline-block;
        font-weight: bold;
  
        &:not(:first-child) {
          margin-left: 0.5rem;
        }
      }
  
      .list__link {
        color: $color-two;
        text-decoration: none;
  
        &:hover {
          color: $color-three;
        }
      }
  
      
    }
  }
  
  @media screen and (min-width: 800px) {
    .header {
      font-size: 1.3rem;
      height: 4rem;
  
      .header__title {
        display: block;
        font-size: 1.5rem;
    }
  }
  }
  