<header class="header">
    <h1 class="header__title">Evison Pacheco</h1>
   <nav class="header__menu">
     <ul class="list">
       <li class="list__item"><a class="list__link" routerLink="/homepage">Home</a></li>
       <li class="list__item"><a class="list__link" routerLink="/about">Sobre</a></li>
       <li class="list__item"><a class="list__link" routerLink="/skills">Conhecimentos</a></li>
       <li class="list__item"><a class="list__link" routerLink="/projects">Projetos</a></li>
       <li class="list__item"><a class="list__link" routerLink="/contacts">Contatos</a></li>
     </ul>
   </nav>
 </header>
 