<section id="about">
    <h2 class="about__title">Resumo</h2>
    <div class="about">
      <article class="resume">
        <p class="resume__description">Oi ... Eu sou o Evison. <br> Sou desenvolvedor Front End e graduando em Sistemas de Informação pela Universidade Federal Rural da Amazônia. <br> Apaixonado por programação e por novas tecnologias. <br> Atualmente entusiasta no estudo de desenvolvimento front-end.</p>
      <figure class="avatar">
        <img class="avatar__image" src="../../assets/images/about/evison.jpg" alt="Evison">
        <aside class="avatar__description">
          Evison Pacheco
        </aside>
      </figure>
    </article>
    </div>
</section>
