<section id="contacts">
    <h2 class="contacts__title">Contatos</h2>
    <div class="contact">
      <a class="contact-item" target="_blank" href="https://www.linkedin.com/in/evisonpacheco/">
        <h3 class="contact-item__title">LinkedIn</h3>
        <img class="contact-item__icon" src="../../assets/images/contacts/linkedin.svg" alt="Ícone do Linkedin">
      </a>
      <a class="contact-item" target="_blank" href="https://github.com/evisonpacheco">
        <h3 class="contact-item__title">GitHub</h3>
        <img class="contact-item__icon" src="../../assets/images/contacts/github.svg" alt="Ícone do GitHub">
      </a>
      <div class="contact-item">
        <h4 class="contact-item__subtitle">E-mail</h4>
        <p class="contact-item__description">evison.pacheco21&#64;gmail.com</p>
        <h4 class="contact-item__subtitle">Telefone</h4>
        <p class="contact-item__description">(91) 9 8437 - 6814</p>
      </div>
    </div>
  </section>
