<section id="id-projects">
    <h2 class="id-projects__title">Projetos</h2>

    <article class="projects">
      <div class="projects-carousel js-carousel">
        <div class="project">
          <h3 class="project__title">Weather Forecast</h3>
          <a class="project__link--main" target="_blank" href="https://previsao-do-tempo.vercel.app">Consulta de Previsão do Tempo</a>
          <p class="project__description">Aplicação desenvolvida em React com consumo de API externa para consultar o clima em uma determinada cidade.</p>
          <p class="project__description">Link do Repositório <a class="project__link--repository" target="_blank" href="https://github.com/evisonpacheco/weather-forecast">Aqui</a></p>
        </div>

        <div class="project">
          <h3 class="project__title">Cadastro de Usuários</h3>
        </div>

        <div class="project">
          <h3 class="project__title">Site de Publicação de Artigos Científicos</h3>
          <a class="project__link--main" target="blank" href="https://evisonpacheco.github.io/chuva-frontend-test/">Site do Artigo</a>
          <p class="project__description">Projeto que simula uma página de um site de publicação de artigos científicos. Desenvolvido com HTML, Sass e JavaScript. Media queries para responsividade.</p>
          <p class="project__description">Link do Repositório <a class="project__link--repository" target="_blank" href="https://github.com/evisonpacheco/chuva-frontend-test">Aqui</a></p>
        </div>

        <div class="project">
          <h3 class="project__title">Teste 4</h3>
        </div>

        <div class="project">
          <h3 class="project__title">Teste 5</h3>
        </div>

        <div class="project">
          <h3 class="project__title">Teste 6</h3>
        </div>
      </div>
    </article>
    
    <button class="id-projects__button id-projects__button--prev js-carousel-prev">&lt; Anterior</button>
    <button class="id-projects__button id-projects__button--next js-carousel-next">Próximo &gt;</button>
    <div role="tablist" class="dots js-dots"></div>
  </section>
