<section id="id-projects">
    <h2 class="id-projects__title">Projetos</h2>

    <article class="projects">
      <div class="project">
        <h3 class="project__title">Github Finder</h3>
        <a class="project__link--main" target="_blank" href="https://githubfinderreact.vercel.app">Github Finder</a>
        <p class="project__description">Aplicação desenvolvida em React com consumo de API externa para consultar as informações de um usuário no Github.</p>
        <p class="project__description">Link do Repositório <a class="project__link--repository" target="_blank" href="https://github.com/evisonpacheco/github-finder">Aqui</a></p>
      </div>

      <div class="project">
        <h3 class="project__title">Weather Forecast</h3>
          <a class="project__link--main" target="_blank" href="https://previsao-do-tempo.vercel.app">Consulta de Previsão do Tempo</a>
          <p class="project__description">Aplicação desenvolvida em React com consumo de API externa para consultar o clima em uma determinada cidade.</p>
          <p class="project__description">Link do Repositório <a class="project__link--repository" target="_blank" href="https://github.com/evisonpacheco/weather-forecast">Aqui</a></p>
      </div>

      <div class="project">
        <h3 class="project__title">User Registration</h3>
          <a class="project__link--main" target="_blank" href="https://registration-alpha.vercel.app">Cadastro de Usuários</a>
          <p class="project__description">Projeto WEB desenvolvido em Angular para autenticação de usuário em um sistema.</p>
          <p class="project__description">Link do Repositório <a class="project__link--repository" target="_blank" href="https://github.com/evisonpacheco/user-registration">Aqui</a></p>
      </div>
    </article>
</section>
