@import '../abstract/variables';

#about {
  margin: 0 auto;
  max-width: 80rem;
  padding: 2rem 1rem;

  .about__title {
    color: $color-two;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.about {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 60rem;
  min-width: 20rem;

  .resume {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    width: 25rem;

    .resume__description {
      position: absolute;
      text-align: left;
      top: 10%;
    }
  }
}

.avatar {
  padding: 0.2rem;

  .avatar__image {
    border: 2.5px solid $color-two;
    border-radius: 50%;
    box-sizing: border-box;
    max-width: 100%;
}

  .avatar__description {
    text-align: center;
    padding: 1rem 0 0;
}
}

@media screen and (min-width: 800px) {
  .resume__description {
    font-size: 1.2rem;
  }

  .avatar__description {
    font-size: 1.5rem;
  }
}