<section id="skills">
    <h2 class="skills__title">Conhecimentos</h2>
    <div class="skills">
      <article class="skill-container">
        <div class="skill">
          <h3 class="skill__title">HTML5</h3>
          <img class="skill__icon" src="../../assets/images/skills/html.svg" alt="Ícone do HTML">
        </div>
      </article>
      <article class="skill-container">
        <div class="skill">
          <h3 class="skill__title">CSS3</h3>
          <img class="skill__icon" src="../../assets/images/skills/css.svg" alt="Ícone do CSS">
        </div>
      </article>
      <article class="skill-container">
        <div class="skill">
          <h3 class="skill__title">JavaScript</h3>
          <img class="skill__icon" src="../../assets/images/skills/javascript.svg" alt="Ícone do JavaScript">
        </div>
      </article>
      <article class="skill-container">
        <div class="skill">
          <h3 class="skill__title">Git</h3>
          <img class="skill__icon" src="../../assets/images/skills/git.svg" alt="Ícone do GitHub">
        </div>
      </article>
    </div>
  </section>