@import '../../styles/abstract/variables';

#skills {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2.5rem);
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 80rem;
  padding: 2rem 1rem;

  .skills__title {
    color: $color-two;
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
  }
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .skill-container {
    color: $color-zero;
    margin: 1rem;
    width: 20%;

    .skill {
      background-color: $color-four;
      border-radius: 1rem;
      margin: 0 auto;
      padding: 0.5rem 0;
      text-align: center;  

      .skill__title {
        text-align: center;
        font-weight: bold;
      }

      .skill__icon {
        height: 3rem;
        padding-top: 0.5rem;
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 800px) {

}