@import '../../styles/abstract/variables';

#skills {
  margin: 0 auto;
  max-width: 80rem;
  padding: 2rem 1rem;

  .skills__title {
    color: $color-two;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .skill-container {
    color: $color-zero;
    margin-bottom: 2rem;
    width: calc(50% - 2rem);

    .skill {
      background-color: $color-four;
      border-radius: 1rem;
      margin: 0 auto;
      padding: 0.5rem 0;
      text-align: center;  

      .skill__title {
        text-align: center;
        font-weight: bold;
      }

      .skill__icon {
        height: 3rem;
        padding-top: 0.5rem;
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .skill-container {
    width: calc(25% - 2rem) !important;

    .skill {
      width: 15rem;
    }
  }
}