#contacts {
  margin: 0 auto;
  max-width: 80rem;
  padding: 5rem 0;
}

.contacts__title {
  color: var(--color2);
  font-size: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.contact-item {
  background-color: var(--color4);
  border: 2px solid var(--color3);
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  width: 16rem;
}

.contact-item:hover:not(:last-child) {
  border: 2px solid green;
  cursor: pointer;
}

.contact-item__title {
  color: var(--color0);
  font-size: 1.5rem;
}

.contact-item__icon {
  height: 3rem;
  padding-top: 1rem;
  width: auto;
}

.contact-item__subtitle {
  color: var(--color0);
  font-size: 1.5rem;
}

.contact-item__subtitle:not(:first-child) {
  margin-top: 1rem;
}

.contact-item__description {
  color: var(--color0);
}